*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.portfolio-container{
    box-sizing: border-box;
    padding: 50px 100px;
    margin-top: 2rem;
    color: rgb(255, 255, 255);
}
.portfolio-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.portfolio-heading button img{
    width: 40px;
    height: 40px;
}
.portfolio-heading button{
    color: rgb(247, 153, 247);
    border: 2px solid rgb(247, 153, 247);
    border-radius: 2px;
    width: 190px;
    height: 50px;
    text-align: center;
    padding-top: 2px;
    background-color: rgba(247, 153, 247, 0.5);
    transition: background-color 0.4s ease-in-out;
}
.portfolio-heading button:hover{
    background-color: rgb(247, 153, 247);
    color: black;
}
.projects{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
