*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.portfolio-container{
    padding: 2rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 4rem;
    color: rgb(255, 255, 255);
}

.portfolio-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.portfolio-heading button img{
    width: 40px;
    height: 40px;
}
.portfolio-heading button{
    color: rgb(247, 153, 247);
    border: 2px solid rgb(247, 153, 247);
    border-radius: 2px;
    min-width: 170px;
    height: 50px;
    text-align: center;
    padding-top: 2px;
    background-color: rgba(247, 153, 247, 0.5);
    transition: background-color 0.4s ease-in-out;
}
.portfolio-heading button:hover{
    background-color: rgb(247, 153, 247);
    color: black;
}
.projects{
    margin: auto 4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    box-sizing: border-box;
}


@media (min-width: 768px){
    .projects{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1023px){
    .projects{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
