*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.experience-container{
    padding: 4rem;
    color: rgb(255, 255, 255);
}
.experience-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.experience-container h2{
    margin-bottom: 4rem;
    font-size: 2rem;
    text-align: center;
} 

.workplace{
    padding: 1.5rem;
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgb(209, 190, 209), rgb(247, 153, 247));
    color: rgb(0, 0, 0);
    border-radius: 5px;
    filter: blur(0.5px);
    transition: all 0.2s ease;
    box-sizing: border-box;
    padding-bottom: 50px;
}
.workplace:hover{
    background-image: none;
    border: 5px solid rgba(247, 153, 247);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    filter: none;
    background-color: rgba(201, 198, 195, 0.2);
}



.workplace img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
}

.location{
    font-weight: 500;
    font-size: 1.2rem;
}

.info-location-logo, .info-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .experience-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}