*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.skills{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 3rem;
}
.skills-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin: auto 4rem;
}
.skills h2{ 
    color: rgb(255, 255, 255);;
    font-size: 2.5rem;
    text-align: center;
}

.skill h4{
    text-align: center;
}
.skill{
    background-image: linear-gradient(to right, rgb(209, 190, 209), rgb(247, 153, 247));
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    text-shadow: 1px 1px 0 rgb(255, 255, 255);
    filter: blur(0.5px);
    transition: all 0.5s ease;
    box-sizing: border-box;
}
.skill:hover{
    background-image: none;
    border: 5px solid rgba(247, 153, 247);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    text-shadow: 1px 1px 0 rgb(247, 153, 247);
    filter: none;
    background-color: rgba(201, 198, 195, 0.2);
}
.skill ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.skill ul li{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.skill ul .non-svg{
    width: 35px;
    height: 35px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.svg{
    margin-right: 5px;
    margin-bottom: 5px;
}


@media (min-width: 768px){
    .skills-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}
