*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.project-container{
    background-color: rgba(247, 153, 247,0.1);
    color: rgb(247, 153, 247);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-radius: 5px;
    padding: 2rem;
    box-sizing: border-box;
    max-width: 400px;
}
.project-container:hover{
    border: 1px solid rgb(255, 254, 255);
    background-color: rgba(247, 153, 247,0.2);
    color: rgb(247, 153, 247);
}
.project-links{
    display: flex;
    justify-content: space-around;
}
.project-links button{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(247, 153, 247);
    border-radius: 2px;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: rgba(247, 153, 247, 0.5);
    transition: background-color 0.4s ease-in-out;
}

.project-links button:hover{
    background-color: rgb(247, 153, 247);
    color: black;
}
.project-image img{
    width: 100%;
    height: 11rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}
.project-info .info{
    margin-bottom: 2rem;
}
