*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.project-container{
    background-color: rgba(247, 153, 247,0.1);
    width: 65rem;
    height: 17.1rem;
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px; 
    border-radius: 5px;
}
.project-container:hover{
    border: 1px solid rgb(247, 153, 247);
    color: rgb(247, 153, 247);
    width: 68rem;
}
.project-links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.project-links button{
    color: rgb(255, 255, 255);
    border: 2px solid rgb(247, 153, 247);
    border-radius: 2px;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: rgba(247, 153, 247, 0.5);
    transition: background-color 0.4s ease-in-out;
}

.project-links button:hover{
    background-color: rgb(247, 153, 247);
    color: black;
}
.project-image img{
    width: 27rem;
    height: 16.9rem;
    transform: translate(-2.5rem,-39px);
    border-radius: 5px;
}
.project-info .info{
    transform: translateY(-20px);
}