.project-card{
    display: flex;
    flex-direction: row;
    margin: 2rem 0 1rem 10rem;
    width: 70rem;
    min-height: 20rem;
    
}
.project-img{
    width: 50%;
}
.project-body{
    width: 50%;
    background-color: rgb(184, 170, 170);
    color: rgb(85, 85, 67);
}
.project-title{
    font-size: 26px;
}
.project-text{
    font-size: 15px;
}
/* @media screen and (min-width: 1000px){
    .project-card{
        display: flex;
        flex-direction: column;
    }
} */