
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-container{
    min-width: 90vw;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 5rem 3rem;

} 
.introduction{
    color: rgb(255, 255, 255);
} 

.job{
    color: rgb(247, 153, 247);
}

.introduction .my-name{
    color: rgb(247, 153, 247);
    font-size: 50px;
}

.intro-img-container{
    margin: auto;
    width: 400px;
    height: 400px;
    border: 1px solid rgb(247, 153, 247);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(247, 153, 247);
}

.intro-img-container::before{
    content: "";
    display: block;
    background-image: url(../../assets/me-at-amalitech.jpg);
    background-size: cover;
    height: 100%;
    border-radius: 50%;
} 

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    width: 20rem;
}
.buttons a{
    text-decoration: none;
    color: rgb(247, 153, 247);
    border: 2px solid rgb(247, 153, 247);
    background-color: rgba(247, 153, 247, 0.3);
    border-radius: 20px;
    width: 110px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    padding-top: 5px;
    transition: background-color 0.7s ease-in-out;
}
.buttons button{
    text-decoration: none;
    color: rgb(247, 153, 247);
    border: 2px solid rgb(247, 153, 247);
    border-radius: 20px;
    min-width: 20%;
    width: 200px;
    height: 40px;
    text-align: center;
    background-color: rgba(247, 153, 247, 0.3);
    transition: background-color 0.7s ease-in-out;
}
.buttons a:hover , .buttons button:hover{
    background-color: rgb(247, 153, 247);
    color: black;
}
.buttons button:focus{
    color: rgb(247, 153, 247);
    color: black;
}
#github, #linkedIn{
    color: rgb(247, 153, 247);
    font-size: 30px;
    margin: 5px 0 10px 10px;
    cursor: pointer;
} 

@media (min-width: 720px){
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}