* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.5rem;
  width: 100%;
  align-items: center;
  padding: 1rem 3rem;
  height: 70px;
}
.my-name-header {
  text-decoration: none;
  color: white;
  font-size: clamp(20px, 4vw, 30px);
}

.my-name-header span {
  color: rgb(247, 153, 247);
}
.my-name-header span:hover {
  color: rgb(247, 204, 255);
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  transition: all 0.2s ease-in;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  position: relative;
  width: auto;
  text-align: center;
  padding: 10px;
}

.navigation a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(247, 153, 247, 0.3);
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
  z-index: -1;
}

.navigation a:hover::before {
  width: 100%;
  border: 1px solid rgb(247, 153, 247);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.navigation .active{
    color:rgb(247, 153, 247) ;
    font-size: 20px;
    text-decoration: underline;
} 

