*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.my-name{
    transform:translateX(150px);
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
.my-name span{
    color: rgb(247, 153, 247);
}
.my-name span:hover{
    color: rgb(247, 204, 255);
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    transition: all 0.2s ease-in;
}

.navigation{
    transform:translateX(-300px);
}
.navigation a{
    margin-left: 30px;
    text-decoration: none;
    color: white;
}
.navigation .active{
    color:rgb(247, 153, 247) ;
    font-size: 20px;
    text-decoration: underline;
}