*{
    box-sizing: border-box;
    padding: none;
    margin: none;
}
.bg-body-tertiary{
    font-size: 1.1rem;
    padding-top: 20px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    transform: translate(3px, -80px);
}

.middle{
    display: flex;
    margin-left: 35rem;
    min-width: 500px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    justify-content: space-evenly;

}
.middle .part{
    width: 8rem;
    margin-left: -1rem;
}
.left-side{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
.me-auto{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1440px){
    .middle{
        transform: translateX(-8rem);
    }
    .right-side{
        transform: translateX(-17.5rem);
        padding-left: 7px;
    }
    .right-side:hover{
        background-color: rgba(144, 39, 230, 0.2);
    }
}